@model IEnumerable<Warehouse.Models.Pozycja>

@{
    ViewBag.Title = "Index";
}

<h2>Towary na magazynie</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { DokumentId = 1 })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dokument.Typ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Towar.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ilosc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dokument.Typ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Towar.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ilosc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DokumentId, nr = item.NrPozycji }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
