@model Warehouse.Models.Dokument

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dokument</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Firma.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firma.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pracownik.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pracownik.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DokumentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DokumentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Typ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Typ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pozycja)
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>Nr</th>
                    <th>Towar</th>
                    <th>Ilość</th>
                    <th></th>
                </tr>
                @{
                    var num = 0;
                    foreach (var item in Model.Pozycja)
                    {
                        num = item.NrPozycji;
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.NrPozycji)</td>
                            <td>@Html.DisplayFor(modelItem => item.Towar.Nazwa)</td>
                            <td>@Html.DisplayFor(modelItem => item.Ilosc)</td>
                            <td>
                                @Html.ActionLink("Edit", "../Pozycjas/Edit", new { id = item.DokumentId, nr = item.NrPozycji }) | |
                                @Html.ActionLink("Delete", "../Pozycjas/Delete", new { id = item.DokumentId, nr = item.NrPozycji })
                            </td>
                        </tr>

                    }
                    <td>
                        @Html.ActionLink("Create New", "../Pozycjas/Create", new { DokumentId = Model.DokumentId, NrPozycji = num + 1 })
                    </td><td></td><td></td><td></td>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DokumentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
